body {
	font: 30px Verdana, sans-serif;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	-webkit-font-smoothing: antialiased;
	font-family: 'Poor Richard';
	text-align: center;
}

header {
	font-weight: bold;
	font-size: 40px;
}

.presentation {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
	display: block;
	overflow: hidden;
	background: #2F93C6;
	background: -webkit-gradient(linear, left top, left bottom, from(#2F93C6),
		to(#23587B) );
	background: -moz-linear-gradient(top, #2F93C6, #23587B);
}

.slides {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
}

.slide {
	display: block;
	position: absolute;
	overflow: hidden;
	width: 900px;
	height: 650px;
	left: 50%;
	top: 50%;
	margin-top: -350px;
	background-color: #eee;
	background: -webkit-gradient(linear, left top, left bottom, from(white),
		to(grey) );
	background: -moz-linear-gradient(top, white, grey);
	border-radius: 10px;
	-moz-border-radius: 10px;
	opacity: 0.35;
	-webkit-transform: scale(0.8) translateZ(0);
	-moz-transform: scale(0.8);
	-o-transform: scale(0.8);
	-webkit-transition: all 1.5s cubic-bezier(0.260, 0.860, 0.440, 0.985);
	-moz-transition: all 1.5s cubic-bezier(0.260, 0.860, 0.440, 0.985);
	-o-transition: all 1.5s cubic-bezier(0.260, 0.860, 0.440, 0.985);
	transition: all 1.5s cubic-bezier(0.260, 0.860, 0.440, 0.985);
}

.slide:nth-child(even) {
	border-radius: 10px 30px 10px 30px;
	-moz-border-radius: 10px 20px 10px 20px;
}

.slide:nth-child(odd) {
	border-radius: 20px 10px 20px 10px;
	-moz-border-radius: 20px 10px 20px 10px;
}

.slide.current {
	visibility: visible;
	display: block;
	margin-left: -450px;
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-o-transform: scale(1.0);
	opacity: 1.0;
}

.arrows {
	font-weight: bold;
	margin-left: 20px;
	text-decoration: underline;
	color: black;
	cursor: pointer;
}

.image {
	height: 200px;
	padding: 10px;
}

.slide.left-slide {
	margin-left: -1300px;
}

.slide.veryleft-slide {
	margin-left: -2600px;
}

.slide.right-slide {
	margin-left: 400px;
}

.slide.veryright-slide {
	margin-left: 2000px;
}

.slide.vertical {
	margin-left: -450px;
	height: 100px;
}

.slide.veryup-slide {
	margin-top: -650px;
}

.slide.verydown-slide {
	margin-top: 300px;
}

.slide.down-slide {
	margin-top: 300px;
}

.slide.up-slide {
	margin-top: -450px;
}

section {
	font-weight: normal;
	color: #3f3f3f;
	text-shadow: white 0px 1px 0px, rgba(0, 0, 0, 0.2) 0 2px 5px;
	margin: 50px 30px 0;
	display: block;
	overflow: hidden;
}

.title {
	font-size: 155px;
	text-align: center;
}

#weddingDate {
	color: white;
	position: relative;
	bottom: -170px;
	left: -200px;
}

@font-face {
	font-family: 'League Gothic';
	src: url('League_Gothic.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Poor Richard';
	src: url('poor-richard.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.figure {
	position: relative;
	float: left;
	margin: 10px;
}

.figure:hover {
	-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
}

.figure .caption {
	visibility: hidden;
	position: absolute;
	bottom: 0;
	left: 0;
	opacity: 0.75;
	margin-bottom: -100px;
	-webkit-transition: margin-bottom;
	-webkit-transition-duration: 400ms;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-property: margin-bottom;
	-moz-transition-duration: 400ms;
	-moz-transition-timing-function: ease-out;
	-o-transition-property: margin-bottom;
	-o-transition-duration: 400ms;
	transition: margin-bottom;
	transition-duration: 400ms;
	transition-timing-function: ease-out;
	width: 100%;
	height: 90px;
	background: #111;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	color: #ddd;
	line-height: 24px;
	font-size: 14px;
	text-shadow: 0px 2px 0px #000;
}

.figure:hover .caption {
	margin-bottom: 0px;
	visibility: visible;
}

.panel {
	opacity: 1.0;
	background-color: #3a2855;
	z-index: 100;
	left: 0px;
	position: relative;
	top: 20px;
	text-align: center;
	left: 40px;
	height: 630px;
	width: 700px;
	margin: 0 auto;
	visibility: hidden;
	overflow: hidden;
}

.panelImage {
	height: 500px;
}

.textAlign {
	text-align: right;
}