body {
	font: 16px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	-webkit-font-smoothing: antialiased;
	font-family: 'League Gothic'
}

.presentation {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
	display: block;
	overflow: hidden;
	background: #2F93C6;
	background: -webkit-gradient(linear, left top, left bottom, from(#2F93C6),
		to(#23587B) );
	background: -moz-linear-gradient(top, #2F93C6, #23587B);
}

.slides {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
	display: none;
	-webkit-transition: -webkit-transform 1.5s ease-in-out;
	-moz-transition: -moz-transform 1.5s ease-in-out;
	-o-transition: -o-transform 1.5s ease-in-out;
	transition: transform 1.5s ease-in-out;
}

.slide {
	display: none;
	position: absolute;
	overflow: hidden;
	width: 900px;
	height: 700px;
	left: 50%;
	top: 50%;
	margin-top: -350px;
	background-color: #eee;
	background: -webkit-gradient(linear, left top, left bottom, from(white),
		to(grey) );
	background: -moz-linear-gradient(top, white, grey);
	border-radius: 10px;
	-moz-border-radius: 10px;
	opacity: 0.35;
	-webkit-transform: scale(0.8) translateZ(0);
	-moz-transform: scale(0.8);
	-o-transform: scale(0.8);
	-webkit-transition-property: margin, -webkit-transform, opacity;
	-webkit-transition-duration: 0.3s, 0.3s, 0.3s;
	-webkit-transition-timing-function: ease-in-out;
	-moz-transition-property: margin, -moz-transform, opacity;
	-moz-transition-duration: 0.3s, 0.3s, 0.3s;
	-moz-transition-timing-function: ease-in-out;
	-o-transition-property: margin, -moz-transform, opacity;
	-o-transition-duration: 0.3s, 0.3s, 0.3s;
	-o-transition-timing-function: ease-in-out;
}

.slide:nth-child(even) {
	border-radius: 10px 30px 10px 30px;
	-moz-border-radius: 10px 20px 10px 20px;
}

.slide:nth-child(odd) {
	border-radius: 20px 10px 20px 10px;
	-moz-border-radius: 20px 10px 20px 10px;
}

.slide.transitionSlide h2 {
	font-size: 40px;
	margin: 0;
	line-height: 10px;
}

.slide.current {
	visibility: visible;
	display: block;
	margin-left: -450px;
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-o-transform: scale(1.0);
	opacity: 1.0;
}

.slide.past {
	visibility: visible;
	display: block;
	margin-left: -1400px;
}

.slide.future {
	visibility: visible;
	display: block;
	margin-left: 500px;
}

.slide.far-past {
	display: block;
	margin-left: -2400px;
}

.slide.far-future {
	display: block;
	margin-left: 1500px;
}

section,footer {
	font: Arial;
	font-weight: normal;
	color: #3f3f3f;
	text-shadow: white 0px 1px 0px, rgba(0, 0, 0, 0.2) 0 2px 5px;
	margin: 100px 30px 0;
	display: block;
	overflow: hidden;
}

footer {
	font-size: 12px;
	margin: 20px 0 0 30px;
}

#landing-slide p {
	font-size: 85px;
	text-align: center;
}

@font-face {
	font-family: 'League Gothic';
	src: url('League_Gothic.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}