@CHARSET "ISO-8859-1";

/*AZUL*/
.slide {
	background-color: #fff1da;
	opacity: 0.2;
}

.presentation {
	background: #fff1da;
	background: -moz-linear-gradient(top, #fff1da, #00639a 30%, #d22b5e 60%);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff1da),
		color-stop(30%, #00639a), color-stop(60%, #d22b5e);
}

body {
	font-family: 'League Gothic'
}