@CHARSET "ISO-8859-1";

/*ORIGINAL*/
.slide {
	background-color: #eee;
	background: -webkit-gradient(linear, left top, left bottom, from(white),
		to(grey) );
	background: -moz-linear-gradient(top, white, grey);
}

.presentation {
	background: #2F93C6;
	background: -webkit-gradient(linear, left top, left bottom, from(#2F93C6),
		to(#23587B) );
	background: -moz-linear-gradient(top, #2F93C6, #23587B);
}

body,p {
	font-family: 'League Gothic'
}