@CHARSET "ISO-8859-1";

/*MORADO*/
.slide {
	background: #f6f7dd;
}

.presentation {
	background: #3a2855;
	background: -webkit-gradient(linear, left top, right bottom, from(#3a2855),
		to(#67687a) );
	background: -moz-linear-gradient(top, #3a2855, #67687a);
}

header {
	font-family: 'Poor Richard';
}

header p {
	margin-top: 0px;
}

body,p {
	font-family: 'Poor Richard'
}

.title {
	font-size: 80px;
}